.book-container {
  @include fixedCentre;
  @include width(0, 600px);
  @include boxShadow;
  padding: 20px;
  border-radius: 5px;

  .form-input {
    input {
      @extend %formInput;
      padding: 10px 8px;
    }

    textarea {
      @extend %formInput;
      padding: 8px;
      height: 150px;
    }

    .form-label {
      color: $grey;
      font-size: 14px;
    }

    &:not(:first-child) {
      margin: 20px 0;
    }

    button {
      padding: 5px 8px;
      cursor: pointer;
      border: 1px solid $lighter-grey;
      color: $grey;
      border-radius: 5px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}
