//colors
$teal: #2980b9;

//white variants
$dark-white: #ecf0f1;
$darker-white: #999;
$dark-green: #148f77;

//grey variants
$grey: #666;
$light-grey: #b3b6b7;
$lighter-grey: #d0d3d4;
$dark-grey: #34495e;
